/*
 * Theme Name: Strident
 * Theme URI: 
 * Description: Custom theme for Strident Computer Systems
 * Version: 1.0
 * Author: Adam Chamberlin
 * Author URL: http://stourvalleydesigns.com.
 * 
 */

//Mixins and Variables
@FONTSIZE: 12;
@BASELINE: 1.5em;
@GREY: #666666;
@LIGHTGREY: #cccccc;
@BLUE: #1e90ff;
@ORANGE: #ff6e00;
@GREEN: #55A100;
@PURPLE: #990066;
@RED: #f93628;

// Typography and baseline grid
.font-size(@FONTSIZE: 16){
	@REM: (@FONTSIZE / 10);
	font-size: @FONTSIZE * 1px;
	font-size: ~"@{REM}rem";
}

// Clearfix
.clearfix {
  zoom: 1;
	&:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: ".";
	}
}

/*
 * Reset's some browser defaults and adds a touch of styling
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden], .hide {
    display: none;
}

html {
	background : rgba(255, 255, 255, 1); 
	font-size : 62.5%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background : #125263;
}

body, button, input, select, textarea {
    font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: none;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

.clickable, label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

b, strong { 
    font-weight: bold; 
}

dfn {
    font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

mark {
    background: #ff0;
    color: #000;
}

pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}

blockquote {
    margin: 1em 40px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin-left: 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

img, object, embed {
	max-width: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    *margin-left: -7px;
}

button, input, select, textarea {
    font-size: 100%;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

input[type="radio"] {
	vertical-align: text-bottom;
	box-sizing: border-box;
}

input[type="checkbox"] {
	vertical-align: bottom;
	*vertical-align: baseline;
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td, td img {
	font-weight: normal; 
	vertical-align: top;
}

body, select, input, textarea {
	color: #333;
}

::-moz-selection{
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #99cc00;
	color: #fff;
	text-shadow: none;
} 

a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {
	background-color: #fcd700;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #fcd700;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

body { 
	margin : 0 auto;
	padding : 0;
	.font-size(@FONTSIZE);
	color : @GREY; 
}

/*
 * Typography
 */
@font-face {
    font-family: 'Vegur';
    src: url('fonts/vegur-light.eot');
    src: url('fonts/vegur-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/vegur-light.woff') format('woff'),
         url('fonts/vegur-light.ttf') format('truetype'),
         url('fonts/vegur-light.otf') format('opentype'),
         url('fonts/vegur-light.svg#VegurLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	color: @GREY;
	font-family: Vegur;
}

h1, h2, h3 {
	margin-bottom: @BASELINE / 2;
	line-height: 1.3;
}

h4, h5 {
	margin-bottom: @BASELINE / 1.5;
}

h1 {
	.font-size(36);
	top: 5px;
}

h2 {
	.font-size(28);
	top: 8px;
}

h3 {
	.font-size(24);
	top: 1px;
}

h4 {
	.font-size(18);
	line-height: 1.25;
	top: 2px;
}

h5 {
	.font-size(15);
	top: 4px;
}

h6 {
	.font-size(12);
	line-height: @BASELINE;
	top: 5px;
}

p {
	margin-bottom: @BASELINE;
	line-height: @BASELINE;
}

a {
	text-decoration: none;
	color: @BLUE;
	padding: 2px 0;
}

a:hover {
	color: @GREY;
}

/*
 * Header Structure
 */
#header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;

	/*
	 * Top Breadcrumb
	 */
	#access {
		position: relative;
		background: #58616a;
		height: 2em;
		line-height: 2em;
		.font-size(12);
		

		ul {
			padding: 0 1em;
			float: left;
		}

		li {
			display: inline;
			padding: 0 2em 0 0;
			text-transform: lowercase;

			a {
				color: white;
			}

			&.current_page_item a, &.current-page-ancestor a {
				font-weight: bold;
			}

			&:last {
				float: right;
			}
		}

		a:hover {
			color: @LIGHTGREY;
		}

		.contact {
			position: absolute;
			right: 10px;
			top: 4px;

			a {
				color: #ffffff;
			}
		}
	}

	/*
	 * Top bar
	 */
	#branding {
		background: @BLUE;
		line-height: 3em;
		overflow: hidden;
		border-bottom: 1px solid darken(@BLUE, 10%);

		.page-title {
			float: left;
			background: url(images/logo.png) 20px 10px no-repeat;
			padding: 0 0 0 5em;

			h1 {
				.font-size(20);
				color: #fff;
				font-weight: normal;
				line-height: 2em;
				margin-left: 10px;
			}
		}

		/*
		 * Social bookmarks
		 */
		.social {
			float: right;

			a {
				display: block;
				width: 36px;
				height: 36px;
				float: left;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;
				margin: 10px;
			}

			.search {
				background: transparent url(images/search.png) no-repeat;
			}

			.client {
				background: transparent url(images/client.png) no-repeat;
			}

			.rss {
				background: transparent url(images/rss.png) no-repeat;
			}

			.linked-in {
				background: transparent url(images/linkedin.png) no-repeat;
			}

			.twitter {
				background: transparent url(images/twitter.png) no-repeat;
			}
		}

		#search {
			position: absolute;
			background: rgba( 0, 0, 0, 0.7 );
			border: 1px solid #000000;
			padding: 20px;
			top: 85px;
			right: 0;
			.font-size(14);
			display: none;

			input {
				padding: 0.5em;
				width: 20em;
			}
		}
	}
}

/*
 * Main Content
 */
#content {
	width: 960px;
	margin: 100px auto 0 auto;
	padding: 10px;
	position: relative;
	background: #ffffff;
	.clearfix();

	&.page, &.post {
		background-color: #ffffff;
	}
	
	h1 {
	
	  &.solution-heading {
	    color: white;
	  }
	
	}

	/*
	 * Base tile styles
	 */
	.tile {
		position: relative;
		width: 278px;
		height: 148px;
		margin: 0 20px 20px 0;
		float: left;
		display: block;
		padding: 10px;
		color: #fff;
		background-color: @BLUE;
		border: 1px solid darken(@BLUE, 15%);
		overflow: hidden;
		text-overflow: ellipsis;

		h3 {
			color: white;
			text-align: right;
			font-weight: normal;
			margin-bottom: 0.25em;

			a {
				color: white;
			}
		}

		h4 {
			text-align: right;
			font-weight: normal;
		}

		&.tagged-solutions {
			width: 90%;
			float: none;
			height: auto;

			li {
				float: left;
				margin: 5px 10px;
			}
		}

	}

	/*
	 * Tile widths
	 */
	.w940 {
		width: 918px;
	}

	.w700 {
		width: 678px;
	}

	.w640 {
		width: 618px;
	}

	.w620 {
		width: 598px;
	}

	.w460 {
		width: 438px;
	}

	.w340 {
		width: 318px;
	}

	.w360 {
		width: 338px;
	}

	.w300 {
		width: 278px;
	}

	.w280 {
		width: 260px;
	}

	.w220 {
		width: 198px;
	}

	.new-row {
		clear: both;
	}

	/*
	 * Tile colours
	 */
	.t-blue {
		background-color: @BLUE;
		border: 1px solid darken(@BLUE, 15%);

		a:hover {
			color: darken(@BLUE, 30%);
		}
	}

	a:hover.t-blue {
		background-color: darken(@BLUE, 30%);
	}

	.t-green {
		background-color: @GREEN;
		border: 1px solid darken(@GREEN, 10%);

		a:hover {
			color: darken(@GREEN, 30%);
		}
	}

	a:hover.t-green {
		background-color: darken(@GREEN, 20%);
	}

	.t-orange {
		background-color: @ORANGE;
		border: 1px solid darken(@ORANGE, 15%);

		a:hover {
			color: darken(@ORANGE, 30%);
		}
	}

	a:hover.t-orange {
		background-color: darken(@ORANGE, 30%);
	}

	.t-purple, .sidebar-tile .t-purple {
		background-color: @PURPLE;
		border: 1px solid darken(@PURPLE, 5%);

		a:hover {
			color: darken(@PURPLE, 30%);
		}
	}

	a:hover.t-purple {
		background-color: darken(@PURPLE, 10%);
	}

	.t-red {
		background-color: @RED;
		border: 1px solid darken(@RED, 15%);

		a:hover {
			color: darken(@RED, 30%);
		}
	}

	a:hover.t-red {
		background-color: darken(@RED, 30%);
	}

	.t-grey {
		background-color: @GREY;
		border: 1px solid darken(@GREY, 10%);

		a:hover {
			color: darken(@GREY, 30%);
		}
	}

	&.fp, &.product, &.ms, &.bi, &.comm, &.about, &.resources {
		background-color: transparent;
	}

	/*
	 * Home page tile button images
	 */
	a.bi, a.ms, a.com, a.about, a.news, a.pro, a.resources, a.catgeory-news, a.talk, a.case-study {
		background-repeat: no-repeat;
		background-position: 0.8em 3em;
		p {
			padding: 0 0 0 130px;
		}
		h3 {
		  .font-size(18);
		  padding: 5px 30px 5px 0;
		}
	}

	a.bi {
		background-image: url(images/business_improvement.png);
	}

	a.ms {
		background-image: url(images/managed_service.png);
	}

	a.com {
		background-image: url(images/cloud.png);
	}

	a.about {
    background-image: url(images/scs.png);
	}

	a.news {
		background-image: url(images/news.png);
		position: relative;
		padding: 0;
		width: 298px;
		height: 168px;
		
		h3 {
		  z-index: 10;
		  top: 10px;
		  right: 20px;
		}
		
		.inactive {
		  position: absolute;
		  margin: 14px 0 0 0;
		}
		
		.active {
		  position: absolute;
		  top: 168px;
		  padding: 10px;
		  background: @ORANGE;
		}
		
		.post-list {
		  .font-size(14);
		}
		
	}

	a.pro {
		background-image: url(images/products.png);
	}

	a.resources {
		background-image: url(images/communication.png);
		position: relative;
		padding: 0;
		width: 298px;
		height: 168px;
		
		h3 {
		  z-index: 10;
		  top: 10px;
		  right: 20px;
		}
		
		.inactive {
		  position: absolute;
		  margin: 14px 0 0 0;
		}
		
		.active {
		  position: absolute;
		  top: 168px;
		}
	}
	
	a.case-study {
		background-image: url(images/business_talk.png);
		position: relative;
		padding: 0;
		width: 298px;
		height: 168px;
		
		h3 {
		  z-index: 10;
		  top: 10px;
		  right: 20px;
		}
		
		.inactive {
		  position: absolute;
		  margin: 14px 0 0 0;
		}
		
		.active {
		  position: absolute;
		  top: 168px;
		}
	}
	
	a.talk {
		background-image: url(images/business_talk.png);
		position: relative;
		padding: 0;
		width: 298px;
		height: 168px;
		
		h3 {
		  z-index: 10;
		  top: 10px;
		  right: 20px;
		}
		
		.inactive {
		  position: absolute;
		  margin: 14px 0 0 0;
		}
		
		.active {
		  position: absolute;
		  top: 168px;
		}
	}

	/*
	 * Group page tile button images
	 */
	&.ms .tile, &.bi .tile, &.comm .tile, &.product .tile, &.resources .tile {
		background-repeat: no-repeat;
		background-position: 10px 130px;
	}

	&.bi .tile {
		background-image: url(images/business_improvement_thumb.png);
	}

	&.ms .tile {
		background-image: url(images/managed_service_thumb.png);
	}

	&.comm .tile {
		background-image: url(images/cloud_thumb.png);
	}

	&.product .tile {
		background-image: url(images/products_thumb.png);
	}
	
	&.resources .tile {
  	background-image: url(images/products_thumb.png);
	}

	.service-link {
		background: transparent url(images/more.png) no-repeat right 6px;
		padding: 0 30px 0 0;
	}

	/*
	 * Link buttons
	 */
	a.back-link, a.up-link {
		display: block;
		position: absolute;
		width: 36px;
		height: 36px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		left: -60px;
	}
	
	a.back-link {
	  background: url(images/back.png) no-repeat;
	}
	
	a.up-link {
	  background: url(images/up.png) no-repeat;
	}

	/*
	 * Main content section
	 */
	#main {
		width: 620px;
		margin: 0 20px 0 0;
		float: left;
		padding: 10px 10px;
		.font-size(14);
	}

	#news, #views {
		width: 460px;
		padding: 10px;
		.font-size(14);
	}

	#news {
		float: left;
	}

	#views {
		float: right;
	}

	h1.entry-title {
		.font-size(38);
		font-family: Vegur;
		text-transform: uppercase;
	}

	header {

		&.blue {
			
			h1 {
				color: @BLUE;
				border-left: 25px solid @BLUE;
				padding: 0 0 2px 10px;
			}

		}

		&.green {
			
			h1 {
				color: @GREEN;
				border-left: 25px solid @GREEN;
				padding: 0 0 2px 10px;
			}

		}

		&.orange {
			
			h1 {
				color: @ORANGE;
				border-left: 25px solid @ORANGE;
				padding: 0 0 2px 10px;
			}

		}

		&.purple {
			
			h1 {
				color: @PURPLE;
				border-left: 25px solid @PURPLE;
				padding: 0 0 2px 10px;
			}

		}

		&.red {
			
			h1 {
				color: @RED;
				border-left: 25px solid @RED;
				padding: 0 0 2px 10px;
			}

		}
	}

	.home-post {

		article {
			position: relative;
			margin: 0 0 20px 0;
			padding: 0 0 20px 0;
		}

		header {

			h3 {
				margin: 0 0 10px 0;
			}

			.entry-meta {
				float: left;
				width: 90px;
				text-align: center;
				background: @BLUE;
				color: #ffffff;
				margin: 0 10px 0 0;
				padding: 5px 0;

				.date-day {
					.font-size(56);
					line-height: 52px;
					display: block;
				}

				.date-month {
					text-align: center;
					text-transform: uppercase;
					.font-size(15);
				}
			}

		}


		.entry-footer {
			padding: 0 0 20px 0;
			border-bottom: 1px solid #ebebeb;
		}
	}

		.single-post {

			.entry-footer {
				background: @LIGHTGREY;
				color: @GREY;
				padding: 10px;
				margin: 0;
				.font-size(12);
			}

		}

		.archive-post {

			.category-news, .category-blog {
				background-repeat: no-repeat;
				background-position: 10px 130px;

				time {
					position: absolute;
					top: 135px;
					left: 45px;
				}

			}

			.category-news {
				background-image: url(images/news_thumb.png);
			}

			.category-blog {
				background-image: url(images/blog_thumb.png);
			}
		}

		.entry-summary, .entry-footer {
			margin: 0 0 0 100px;
		}

		.entry-content {

			ul {
				margin: 0 10px;
				list-style: square;

				li {
					margin: 0 0 10px 0;
				}
			}

			ol {
				margin: 0 10px;

				li {
					margin: 0 0 10px 0;
				}
			}
		}

		.business-talk-tile {

			width: 268px;
			float: left;
			display: block;
			height: 180px;
			background: @LIGHTGREY;
			border: 1px solid darken(@LIGHTGREY, 15%);

			&:hover {
				background: darken(@LIGHTGREY, 10%);
			}

			h3, p {
				color: @GREY;
			}

			h4 {
				text-align: left;
				margin: 0 0 10px 0;
			}


			.entry-summary {
				margin: 0;

				img {
					float: left;
					margin: 0 10px 0 0;
				}
			}
		}

		.case-study-tile {
			width: 268px;
			float: left;
			display: block;
			background: #ffffff;
			border: 1px solid @LIGHTGREY;
			height: auto;

			&:hover {
				border: 1px solid @GREY;
			}

			h3, p {
				color: @GREY;
			}

			.entry-summary {
				margin: 0;

				img {
					float: left;
					margin: 0 10px 0 0;
				}
			}
		}

		#comments {
			margin: 50px 0 0 0;
		}

		#posts-nav {
			clear: both;
			display: block;
			width: 585px;
			.font-size(18);

			a {
				color: @GREY;
			}

			.nav-previous a {
				background: lighten(@LIGHTGREY, 5%) url(images/back.png) no-repeat 5px center;
				height: 40px;
				float: left;
				padding: 10px 20px 0 50px;
				border: 1px solid @LIGHTGREY;
			}

			.nav-next a {
				background: lighten(@LIGHTGREY, 5%) url(images/next.png) no-repeat 95% center;
				height: 40px;
				float: right;
				text-align: right;
				padding: 10px 50px 0 20px;
				border: 1px solid @LIGHTGREY;
			}
		}
	

	/*
	 * Sidebar content section
	 */
	#sidebar {
		width: 290px;
		float: right;
		margin: 20px 0 0 0;
		padding: 0 10px 0 0;

		h3 {
			.font-size(22);
			font-weight: normal;
		}

		.sidebar-tile {
			margin: 0 0 20px 0;
			padding: 10px;
			color: #ffffff;

			h3 {
				color: #ffffff;
				text-align: left;
			}

			&.t-blue {

				a:hover {
					color: darken(@BLUE, 30%);
				}
			}
			
			&.t-orange {
			  
			  a:hover {
			    color: darken(@ORANGE, 30%);
			  }
			}
			
			&.t-red {
			
			  a:hover {
			  	color: darken(@RED, 30%);
			  }
			}
			
			&.t-purple {
			
			  a:hover {
			  	color: darken(@PURPLE, 30%);
			  }
			}
			
			&.t-green {
			
			  a:hover {
			  	color: darken(@GREEN, 30%);
			  }
			}

			&.widget_recent_entries {
				background: @ORANGE;

				a:hover {
					color: darken(@ORANGE, 30%);
				}
			}

			&.widget_archive {
				background: @GREEN;

				a:hover {
					color: darken(@GREEN, 30%);
				}
			}

			&.widget_categories {
				background: @RED;

				a:hover {
					color: darken(@RED, 30%);
				}
			}

			&.widget_twitter {
				background: @BLUE;

				a:hover {
					color: darken(@BLUE, 30%);
				}
			}
			
			input, textarea {
			  width: 95%;
			}
			
			&.business {
			  text-align: center;
			}
			
			&.contact {
			  text-align: center;
			  
			  a {
			    color: white;
			    .font-size(24);
			  }
			}

		}

		ul {
			padding: 0;
			margin: 0;
			.font-size(16);

			li {
				background: url(images/list-bullet.png) no-repeat left 0;
				padding: 0 0 0 26px;
				margin: 0 0 0.5em 0;
				min-height: 22px;
				list-style: none;
				
				a {
					color: #ffffff;

					&:hover {
						color: @LIGHTGREY;
					}
				}
			}
		}
	}

}

ul.post-list {
	padding: 0;
	margin: 0;
	.font-size(16);

	li {
		background: url(images/list-bullet.png) no-repeat left 0;
		padding: 0 0 0 26px;
		margin: 0 0 0.5em 0;
		min-height: 22px;
		list-style: none;
		
		a {
			color: #ffffff;

			&:hover {
				color: @LIGHTGREY;
			}
		}
	}
}

#footer {
	width: 960px;
	margin: 50px auto 0 auto;
	padding: 60px 0 0 0;
	text-align: center;
	background: url(images/footer.png) no-repeat center top;

	a {
		color: #ffffff;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline;
		}
	}
}

/*
 * Styling for posts
 */
.post, .page {


	a.more-link {
		background: lighten(@LIGHTGREY, 5%) url(images/more.png) no-repeat 95% center;
		color: #ffffff;
		line-height: 24px;
		padding: 5px 45px 5px 10px;
		margin-right: 5px;
		.font-size(16);

		&:hover {
			background-color: @LIGHTGREY;
		}
	}

	&.post {

		

	}

}

#partner {
  text-align: center;
}

/*
 * Media Queries
 */
@media only screen and (min-width: 320px){

}

@media only screen and (min-width: 480px){

}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){

}